<a href="https://colab.research.google.com/github/Iagofer04/JogosCopa/blob/main/Projeto2_copa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
import pandas as pd
import numpy as np
import random
from scipy.stats import poisson

selecoes = pd.read_excel('/content/DadosCopaDoMundoQatar2022.xlsx', sheet_name = 'selecoes', index_col = 0)
jogos = pd.read_excel('/content/DadosCopaDoMundoQatar2022.xlsx', sheet_name = 'jogos')

In [74]:

selecoes.head()

,Grupo,GrupoNumero,NomeEmIngles,PosiçãoRankingFIFA,ValorDeMercado,PontosRankingFIFA,Confederação,Copas,JogadorDestaque,FotoJogadorDestaque,LinkBandeiraPequena,LinkBandeiraGrande
Seleção,,,,,,,,,,,,
Catar,A,A1,Qatar,48,18.33,1442,AFC,0,Almoez Ali,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Equador,A,A2,Ecuador,44,125.80,1464,UEFA,0,Pervis Estupiñán,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Senegal,A,A3,Senegal,18,286.50,1585,CAF,0,Sadio Mané,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Holanda,A,A4,Netherlands,8,455.75,1679,UEFA,0,Virgil Van Dijk,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...
Inglaterra,B,B1,England,5,1360.00,1737,UEFA,1,Harry Kane,https://github.com/ricardorocha86/PrevisaoEspo...,https://cloudinary.fifa.com/api/v3/picture/fla...,https://flagdownload.com/wp-content/uploads/Fl...

In [75]:
jogos.head()

        data      hora grupo seleção1 seleção2         estádio
0 2022-11-21  07:00:00     A  Senegal  Holanda      AL THUMAMA
1 2022-11-21  13:00:00     A    Catar  Equador         AL KHOR
2 2022-11-25  10:00:00     A    Catar  Senegal      AL THUMAMA
3 2022-11-25  13:00:00     A  Holanda  Equador  INTER. KHALIFA
4 2022-11-29  12:00:00     A  Holanda    Catar         AL KHOR

In [76]:
fifa = selecoes ['PontosRankingFIFA']
a, b = min(fifa), max(fifa)
fa, fb = 0.15, 1
b1 = (fb - fa)/(b-a)
b0 = fb - b*b1
forca = b0 + b1*fifa
forca

Seleção
Catar             0.243596
Equador           0.285618
Senegal           0.516742
Holanda           0.696292
Inglaterra        0.807079
Irã               0.467079
Estados Unidos    0.612247
País de Gales     0.511011
Argentina         0.872022
Arábia Saudita    0.232135
México            0.640899
Polônia           0.442247
França            0.860562
Dinamarca         0.669551
Tunísia           0.369663
Austrália         0.323820
Espanha           0.768876
Alemanha          0.658090
Japão             0.459438
Costa Rica        0.354382
Bélgica           0.969438
Canadá            0.304719
Marrocos          0.465169
Croácia           0.606517
Brasil            1.000000
Sérvia            0.449888
Suíça             0.585506
Camarões          0.325730
Portugal          0.696292
Gana              0.150000
Uruguai           0.623708
Coreia do Sul     0.404045
Name: PontosRankingFIFA, dtype: float64

In [77]:
def MediasPoisson(selecao1, selecao2):
  forca1 = forca[selecao1]
  forca2 = forca[selecao2]
  mgols = 2.75
  l1 = mgols*forca1/(forca1 + forca2)
  l2 = mgols - l1
  return [l1, l2]

def Resultado(gols1, gols2):
  if gols1 > gols2:
    resultado = 'V'
  elif gols2 > gols1:
    resultado = 'D'
  else:
    resultado = 'E'
  return resultado         

def Pontos(gols1, gols2):
  resultado = Resultado(gols1, gols2)
  if resultado == 'V':
    pontos1, pontos2 = [3, 0]
  elif resultado == 'D':
    pontos1, pontos2 = [0, 3]
  else:
    pontos1, pontos2 = [1, 1]    
  return [pontos1, pontos2, resultado]

In [78]:
def Jogo(selecao1, selecao2):
  l1, l2 = MediasPoisson(selecao1, selecao2)
  gols1 = int(np.random.poisson(lam  = l1, size = 1))
  gols2 = int(np.random.poisson(lam  = l2, size = 1))
  saldo1 = gols1 - gols2
  saldo2 = -saldo1
  pontos1, pontos2, resultado = Pontos(gols1, gols2)
  placar = '{} x {}'.format(gols1, gols2)
  return [gols1, gols2, saldo1, saldo2, pontos1, pontos2, resultado, placar]

In [79]:
def Distribuicao(media):
  probs = []
  for i in range (7):
      probs.append(poisson.pmf (i, media))
  probs.append (1 - sum(probs))
  return pd.Series(probs, index = ['0', '1', '2', '3', '4', ' 5', '6', '7+' ]) 

def ProbabilidadesPartidas(selecao1, selecao2):
    l1, l2 = MediasPoisson(selecao1, selecao2)
    d1, d2 = Distribuicao(l1), Distribuicao(l2)
    matriz = np.outer(d1, d2)
    vitoria = np.tril(matriz).sum() - np.trace(matriz)
    derrota = np.triu(matriz).sum() - np.trace(matriz)
    empate = 1 - (vitoria + derrota)
   
    probs = np.around ([vitoria, empate, derrota], 3)
    probsp = [f'{100*i:.1f}%' for i in probs]
    
    nomes = ['0', '1', '2', '3', '4', ' 5', '6', '7+' ]
    matriz = pd.DataFrame(matriz, columns = nomes, index = nomes)
    matriz.index = pd.MultiIndex.from_product([[selecao1], matriz.index])
    matriz.columns = pd.MultiIndex.from_product([[selecao2], matriz.columns])
    output = {'seleção1': selecao1, 'seleção2': selecao2,
              'f1': forca[selecao1], 'f2': forca [selecao2],
              'media1': l1, 'media2': l2,
              'probabilidades': probsp, 'matriz': matriz}
    return output

In [80]:
ProbabilidadesPartidas('Brasil', 'Camarões')

{'seleção1': 'Brasil',
 'seleção2': 'Camarões',
 'f1': 1.0,
 'f2': 0.32573033707865173,
 'media1': 2.0743283329095688,
 'media2': 0.6756716670904312,
 'probabilidades': ['70.0%', '19.0%', '11.0%'],
 'matriz':            Camarões                                                    \
                   0         1         2         3         4         5
 Brasil 0   0.063928  0.043194  0.014593  0.003287  0.000555  0.000075
        1   0.132607  0.089599  0.030270  0.006817  0.001152  0.000156
        2   0.137536  0.092929  0.031395  0.007071  0.001194  0.000161
        3   0.095098  0.064255  0.021708  0.004889  0.000826  0.000112
        4   0.049316  0.033322  0.011257  0.002535  0.000428  0.000058
         5  0.020460  0.013824  0.004670  0.001052  0.000178  0.000024
        6   0.007073  0.004779  0.001615  0.000364  0.000061  0.000008
        7+  0.002797  0.001890  0.000638  0.000144  0.000024  0.000003


                       6            7+
 Brasil 0   8.448351e-06  8.898898e-07
        1   1.752465e-05  1.845924e-06
        2   1.817594e-05  1.914526e-06
        3   1.256762e-05  1.323785e-06
        4   6.517345e-06  6.864912e-07
         5  2.703822e-06  2.848016e-07
        6   9.347693e-07  9.846202e-08
        7+  3.695953e-07  3.893057e-08  }

In [81]:
jogos['Vitória'] = None
jogos['Empate'] = None
jogos['Derrota'] = None

for i in range (jogos.shape[0]):
  selecao1 = jogos ['seleção1'][i]
  selecao2 = jogos ['seleção2'][i]
  v, e, d = ProbabilidadesPartidas(selecao1, selecao2)['probabilidades']
  jogos.at[i, 'Vitória'] = v
  jogos.at[i, 'Empate'] = e
  jogos.at[i, 'Derrota'] = d

jogos.to_excel('outputEstimativasJogosCopa.xls')
jogos

<ipython-input-81-0697f8f6ecf5>:13: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  jogos.to_excel('outputEstimativasJogosCopa.xls')

,data,hora,grupo,seleção1,seleção2,estádio,Vitória,Empate,Derrota
0,2022-11-21,07:00:00,A,Senegal,Holanda,AL THUMAMA,28.3%,24.9%,46.8%
1,2022-11-21,13:00:00,A,Catar,Equador,AL KHOR,32.3%,25.4%,42.3%
2,2022-11-25,10:00:00,A,Catar,Senegal,AL THUMAMA,17.2%,22.1%,60.6%
3,2022-11-25,13:00:00,A,Holanda,Equador,INTER. KHALIFA,64.4%,21.0%,14.6%
4,2022-11-29,12:00:00,A,Holanda,Catar,AL KHOR,68.4%,19.6%,12.0%
5,2022-11-29,12:00:00,A,Equador,Senegal,INTER. KHALIFA,20.7%,23.3%,56.0%
6,2022-11-21,10:00:00,B,Inglaterra,Irã,INTER. KHALIFA,54.6%,23.6%,21.8%
7,2022-11-21,16:00:00,B,Estados Unidos,País de Gales,AL RAYYAN,43.0%,25.3%,31.7%
8,2022-11-25,07:00:00,B,País de Gales,Irã,AL RAYYAN,40.1%,25.5%,34.4%
9,2022-11-25,16:00:00,B,Inglaterra,Estados Unidos,AL KHOR,46.1%,25.0%,28.9%
10,2022-11-29,16:00:00,B,País de Gales,Inglaterra,AL RAYYAN,24.0%,24.2%,51.8%
11,2022-11-29,16:00:00,B,Irã,Estados Unidos,AL THUMAMA,29.1%,25.0%,45.9%
12,2022-11-22,07:00:00,C,Argentina,Arábia Saudita,CID. EDUCAÇÃO,74.2%,17.3%,8.5%
13,2022-11-22,13:00:00,C,México,Polônia,AL WAKRAH,49.1%,24.6%,26.3%
14,2022-11-26,10:00:00,C,Polônia,Arábia Saudita,CID. EDUCAÇÃO,57.5%,22.9%,19.5%
15,2022-11-26,16:00:00,C,Argentina,México,NAC. DE LUSAIL,47.1%,24.9%,28.0%
16,2022-11-30,16:00:00,C,Polônia,Argentina,PORTO DE DOHA,18.8%,22.7%,58.5%
17,2022-11-30,16:00:00,C,Arábia Saudita,México,NAC. DE LUSAIL,12.5%,19.9%,67.5%
18,2022-11-22,10:00:00,D,Dinamarca,Tunísia,CID. EDUCAÇÃO,56.0%,23.3%,20.7%
19,2022-11-22,16:00:00,D,França,Austrália,AL WAKRAH,66.6%,20.3%,13.1%
20,2022-11-26,07:00:00,D,Tunísia,Austrália,AL WAKRAH,41.4%,25.4%,33.1%
21,2022-11-26,13:00:00,D,França,Dinamarca,PORTO DE DOHA,45.3%,25.1%,29.6%
22,2022-11-30,12:00:00,D,Tunísia,França,CID. EDUCAÇÃO,15.4%,21.4%,63.2%
23,2022-11-30,12:00:00,D,Austrália,Dinamarca,AL WAKRAH,17.8%,22.3%,59.9%
24,2022-11-23,10:00:00,E,Alemanha,Japão,INTER. KHALIFA,48.7%,24.7%,26.6%
25,2022-11-23,13:00:00,E,Espanha,Costa Rica,AL THUMAMA,61.3%,22.0%,16.8%
26,2022-11-27,07:00:00,E,Japão,Costa Rica,AL RAYYAN,45.5%,25.1%,29.4%
27,2022-11-27,16:00:00,E,Espanha,Alemanha,AL KHOR,42.2%,25.4%,32.4%
28,2022-12-01,16:00:00,E,Japão,Espanha,INTER. KHALIFA,22.6%,23.8%,53.6%
29,2022-12-01,16:00:00,E,Costa Rica,Alemanha,AL KHOR,20.1%,23.1%,56.8%
30,2022-11-23,07:00:00,F,Marrocos,Croácia,AL KHOR,29.2%,25.1%,45.7%
31,2022-11-23,16:00:00,F,Bélgica,Canadá,AL RAYYAN,70.8%,18.7%,10.5%
32,2022-11-27,10:00:00,F,Bélgica,Marrocos,AL THUMAMA,60.1%,22.3%,17.6%
33,2022-11-27,13:00:00,F,Croácia,Canadá,INTE. KHALIFA,58.8%,22.6%,18.6%
34,2022-12-01,12:00:00,F,Croácia,Bélgica,AL RAYYAN,23.7%,24.1%,52.2%
35,2022-12-01,12:00:00,F,Canadá,Marrocos,AL THUMAMA,24.9%,24.4%,50.7%
36,2022-11-24,07:00:00,G,Suíça,Camarões,AL WAKRAH,55.8%,23.4%,20.8%
37,2022-11-24,16:00:00,G,Brasil,Sérvia,NAC. LUSAIL,61.9%,21.8%,16.3%
38,2022-11-28,07:00:00,G,Camarões,Sérvia,AL WAKRAH,27.6%,24.8%,47.6%
39,2022-11-28,13:00:00,G,Brasil,Suíça,PORTO DE DOHA,54.2%,23.7%,22.1%
40,2022-12-02,16:00:00,G,Camarões,Brasil,NAC. LUSAIL,11.0%,19.0%,70.0%
41,2022-12-02,16:00:00,G,Sérvia,Suíça,PORTO DE DOHA,29.3%,25.1%,45.7%
42,2022-11-24,10:00:00,H,Uruguai,Coreia do Sul,CID. EDUCAÇÃO,51.1%,24.3%,24.6%
43,2022-11-24,13:00:00,H,Portugal,Gana,PORTO DE DOHA,77.9%,15.6%,6.4%
44,2022-11-28,10:00:00,H,Coreia do Sul,Gana,CID. EDUCAÇÃO,66.9%,20.2%,12.9%
45,2022-11-28,16:00:00,H,Portugal,Uruguai,NAC. LUSAIL,40.7%,25.5%,33.8%
46,2022-12-02,12:00:00,H,Coreia do Sul,Portugal,CID. EDUCAÇÃO,21.8%,23.6%,54.5%
47,2022-12-02,12:00:00,H,Gana,Uruguai,AL WAKRAH,7.4%,16.5%,76.1%

Simulação da Copa

Primeira fase

In [82]:
def JogosGrupo(dados, grupo):
  selecoes = list(dados[dados['Grupo'] == grupo].index)
  selecao1, selecao2, selecao3, selecao4 = selecoes

  jogo1 = Jogo(selecao1, selecao2)
  jogo2 = Jogo(selecao3, selecao4)
  jogo3 = Jogo(selecao1, selecao3)
  jogo4 = Jogo(selecao2, selecao4)
  jogo5 = Jogo(selecao1, selecao4)
  jogo6 = Jogo(selecao2, selecao3)


  pt1, pt2, pt3, pt4 = 0, 0, 0, 0
  gp1, gp2, gp3, gp4 = 0, 0, 0, 0
  sg1, sg2, sg3, sg4 = 0, 0, 0, 0

  gp1, gp2, sg1, sg2, pt1, pt2 = gp1 + jogo1[0], gp2 + jogo1[1], sg1 + jogo1[2], sg2 + jogo1[3], pt1 + jogo1[4], pt2 + jogo1[5]
  gp3, gp4, sg3, sg4, pt3, pt4 = gp3 + jogo2[0], gp4 + jogo2[1], sg3 + jogo2[2], sg4 + jogo2[3], pt3 + jogo2[4], pt4 + jogo2[5]
  gp1, gp3, sg1, sg3, pt1, pt3 = gp1 + jogo3[0], gp3 + jogo3[1], sg1 + jogo3[2], sg3 + jogo3[3], pt1 + jogo3[4], pt3 + jogo3[5]
  gp2, gp4, sg2, sg4, pt2, pt4 = gp2 + jogo4[0], gp4 + jogo4[1], sg2 + jogo4[2], sg4 + jogo4[3], pt2 + jogo4[4], pt4 + jogo4[5]
  gp1, gp4, sg1, sg4, pt1, pt4 = gp1 + jogo5[0], gp4 + jogo5[1], sg1 + jogo5[2], sg4 + jogo5[3], pt1 + jogo5[4], pt4 + jogo5[5]
  gp2, gp3, sg2, sg3, pt2, pt3 = gp2 + jogo6[0], gp3 + jogo6[1], sg2 + jogo6[2], sg3 + jogo6[3], pt2 + jogo6[4], pt3 + jogo6[5]

  tab = pd.DataFrame([[pt1, pt2, pt3, pt4], [sg1, sg2, sg3, sg4], [gp1, gp2, gp3, gp4]], columns = selecoes, index = ['Pontos', 'SG', 'GP']).T
  tab = tab.sort_values(by = ['Pontos', 'SG', 'GP'], ascending = False)
  tab['Posição'] = [1, 2, 3, 4]
  
  partidas = [ selecao1 + 'x' + selecao2, 
			      selecao3 + 'x' + selecao4,
			      selecao1 + 'x' + selecao3,
			      selecao2 + 'x' + selecao4,
			      selecao1 + 'x' + selecao4,
			      selecao2 + 'x' + selecao3	]

  resultados = [jogo1[6], jogo2[6], jogo3[6], jogo4[6], jogo5[6], jogo6[6]]
  placares = [jogo1[-1], jogo2[-1], jogo3[-1], jogo4[-1], jogo5[-1], jogo6[-1]]

  jogos = pd.DataFrame([partidas, placares, resultados]).transpose()
  jogos.columns = ['Partida', 'Placar', 'Resultado']
  return [tab, jogos]

In [83]:
grupo = JogosGrupo(selecoes, 'G')
grupo[0]

          Pontos  SG  GP  Posição
Brasil         6   6   8        1
Sérvia         6  -2   3        2
Suíça          4   1   3        3
Camarões       1  -5   0        4

In [84]:
grupo[1]

           Partida Placar Resultado
0    BrasilxSérvia  4 x 0         V
1   SuíçaxCamarões  0 x 0         E
2     BrasilxSuíça  0 x 2         D
3  SérviaxCamarões  1 x 0         V
4  BrasilxCamarões  4 x 0         V
5     SérviaxSuíça  2 x 1         V

Seguda fase da competição

In [97]:
def JogoMataMata(selecao1, selecao2):
	jogo = Jogo(selecao1, selecao2)
	resultado = jogo[6]
	if resultado == 'V':
		return selecao1
	elif resultado == 'D':
		return selecao2
	else:
		return random.sample([selecao1, selecao2], 1)[0]

In [104]:
JogoMataMata('Brasil', 'Coreia do Sul')

'Brasil'

In [109]:
 def SimulaCopa(selecoes):
  cols = ['1st', '2sd', '3rd', '4th', 'Oitavas', 'Quartas', 'Semis', 'Final', 'Campeão']
  n = selecoes.shape[0]
  m = len(cols)
  aux = np.array(np.zeros(n*m).reshape(n,m))
  info = pd.DataFrame(aux, columns=cols, index=selecoes.index)
  info = info.astype(int)


  top16 = []
  for i in list('ABCDEFGH'):
    a = JogosGrupo(selecoes, grupo = i)[0]
    top16 += a.index[:2].tolist()
    anomes = a.index.tolist()
    info.at[ anomes[0], '1st'] = 1
    info.at[ anomes[1], '2sd'] = 1
    info.at[ anomes[2], '3rd'] = 1
    info.at[ anomes[3], '4th'] = 1

  qf1 = JogoMataMata(top16[0], top16[3])     #1A x 2B
  qf2 = JogoMataMata(top16[2], top16[1])     #1B x 2A 
  qf3 = JogoMataMata(top16[4], top16[7])     #1C x 2D
  qf4 = JogoMataMata(top16[6], top16[5])     #1D x 2C 
  qf5 = JogoMataMata(top16[8], top16[11])    #1E x 2F
  qf6 = JogoMataMata(top16[10], top16[9])    #1F x 2E
  qf7 = JogoMataMata(top16[12], top16[15])   #1G x 2H
  qf8 = JogoMataMata(top16[14], top16[13])   #1H x 2G


  top8 = [qf1, qf2, qf3, qf4, qf5, qf6, qf7, qf8]

  sf1 = JogoMataMata(qf1, qf3)     
  sf2 = JogoMataMata(qf2, qf4)      
  sf3 = JogoMataMata(qf5, qf7)     
  sf4 = JogoMataMata(qf6, qf8)      


  top4 = [sf1, sf2, sf3, sf4]

  f1 = JogoMataMata(sf1, sf3)     
  f2 = JogoMataMata(sf2, sf4) 

  top2 = [f1, f2]

  top1 = JogoMataMata(f1, f2)

  info.at[top16, 'Oitavas'] = 1
  info.at[top8, 'Quartas'] = 1
  info.at[top4, 'Semis'] = 1
  info.at[top2, 'Final'] = 1
  info.at[top1, 'Campeão'] = 1

  return info

In [121]:
def SimulacaoTotal(dados, S = 1000):
	print('IA: "Iniciando Simulação..."')
	info = SimulaCopa(dados)
	for i in range(S-1):
		info += SimulaCopa(dados)
		if (i+2)%(S/10) == 0:
			print('IA: "Simulações de Copas do Mundo: {:.0f}% completas'.format(100*((i+2)/S)))
	print('IA: "Simulação Finalizada!"')
	return info.sort_values(by = 'Campeão', ascending = False)/S

In [123]:
S = 10000
sim = SimulacaoTotal(selecoes, S)
sim.to_excel('outputSimulacoesCopaDoMundo.xlsx')
sim

IA: "Iniciando Simulação..."
IA: "Simulações de Copas do Mundo: 10% completas
IA: "Simulações de Copas do Mundo: 20% completas
IA: "Simulações de Copas do Mundo: 30% completas
IA: "Simulações de Copas do Mundo: 40% completas
IA: "Simulações de Copas do Mundo: 50% completas
IA: "Simulações de Copas do Mundo: 60% completas
IA: "Simulações de Copas do Mundo: 70% completas
IA: "Simulações de Copas do Mundo: 80% completas
IA: "Simulações de Copas do Mundo: 90% completas
IA: "Simulações de Copas do Mundo: 100% completas
IA: "Simulação Finalizada!"

,1st,2sd,3rd,4th,Oitavas,Quartas,Semis,Final,Campeão
Seleção,,,,,,,,,
Brasil,0.5916,0.2520,0.1187,0.0377,0.8436,0.5655,0.3535,0.2211,0.1351
Bélgica,0.5730,0.2589,0.1228,0.0453,0.8319,0.5392,0.3283,0.2012,0.1241
França,0.5156,0.2947,0.1376,0.0521,0.8103,0.4827,0.2968,0.1657,0.0919
Argentina,0.5362,0.2865,0.1392,0.0381,0.8227,0.4953,0.3022,0.1676,0.0904
Inglaterra,0.4361,0.2774,0.1760,0.1105,0.7135,0.4601,0.2548,0.1359,0.0721
Espanha,0.4427,0.2867,0.1802,0.0904,0.7294,0.3994,0.2096,0.1109,0.0530
Portugal,0.4554,0.3349,0.1745,0.0352,0.7903,0.4170,0.2115,0.1102,0.0519
Holanda,0.5361,0.2890,0.1277,0.0472,0.8251,0.4430,0.2177,0.1113,0.0516
Dinamarca,0.3339,0.3562,0.2092,0.1007,0.6901,0.3461,0.1832,0.0876,0.0423
México,0.2951,0.3700,0.2430,0.0919,0.6651,0.3365,0.1733,0.0824,0.0403
Alemanha,0.3308,0.3130,0.2204,0.1358,0.6438,0.3206,0.1596,0.0764,0.0375
Uruguai,0.3699,0.3507,0.2258,0.0536,0.7206,0.3535,0.1694,0.0811,0.0360
Croácia,0.2468,0.3411,0.2685,0.1436,0.5879,0.2948,0.1420,0.0642,0.0277
Estados Unidos,0.2554,0.2754,0.2561,0.2131,0.5308,0.2934,0.1361,0.0625,0.0268
Suíça,0.2250,0.3379,0.2724,0.1647,0.5629,0.2758,0.1253,0.0565,0.0228
Senegal,0.3201,0.3670,0.2085,0.1044,0.6871,0.3056,0.1240,0.0474,0.0192
País de Gales,0.1709,0.2285,0.2814,0.3192,0.3994,0.2000,0.0858,0.0357,0.0151
Marrocos,0.1348,0.2685,0.3385,0.2582,0.4033,0.1673,0.0634,0.0237,0.0092
Polônia,0.1396,0.2584,0.3818,0.2202,0.3980,0.1530,0.0659,0.0251,0.0086
Japão,0.1499,0.2355,0.3190,0.2956,0.3854,0.1519,0.0654,0.0247,0.0085
Irã,0.1376,0.2187,0.2865,0.3572,0.3563,0.1685,0.0652,0.0241,0.0085
Sérvia,0.1273,0.2598,0.3284,0.2845,0.3871,0.1605,0.0567,0.0210,0.0083
Coreia do Sul,0.1638,0.2668,0.4270,0.1424,0.4306,0.1529,0.0551,0.0208,0.0067
Tunísia,0.0866,0.1951,0.3441,0.3742,0.2817,0.0931,0.0335,0.0102,0.0037
Costa Rica,0.0766,0.1648,0.2804,0.4782,0.2414,0.0758,0.0249,0.0088,0.0026
Austrália,0.0639,0.1540,0.3091,0.4730,0.2179,0.0650,0.0220,0.0058,0.0017
Camarões,0.0561,0.1503,0.2805,0.5131,0.2064,0.0653,0.0187,0.0054,0.0017
Equador,0.0881,0.1973,0.3512,0.3634,0.2854,0.0817,0.0205,0.0060,0.0012
Canadá,0.0454,0.1315,0.2702,0.5529,0.1769,0.0510,0.0154,0.0043,0.0011
Arábia Saudita,0.0291,0.0851,0.2360,0.6498,0.1142,0.0283,0.0069,0.0012,0.0002
Catar,0.0557,0.1467,0.3126,0.4850,0.2024,0.0477,0.0121,0.0012,0.0002
Gana,0.0109,0.0476,0.1727,0.7688,0.0585,0.0095,0.0012,0.0000,0.0000

In [125]:
etapas = pd.DataFrame()
etapas['Cair na 1ª Fase'] = 1 - sim['Oitavas']
etapas['Cair nas Oitavas'] = sim['Oitavas'] - sim['Quartas']
etapas['Cair nas Quartas'] = sim['Quartas'] - sim['Semis']
etapas['Cair nas Semis'] = sim['Semis'] - sim['Final']
etapas['Cair na Final'] = sim['Final'] - sim['Campeão']
etapas['Ganhar a Final'] = sim['Campeão']
etapas.to_excel('outputProbabilidadesPorEtapa.xlsx')
etapas

,Cair na 1ª Fase,Cair nas Oitavas,Cair nas Quartas,Cair nas Semis,Cair na Final,Ganhar a Final
Seleção,,,,,,
Brasil,0.1564,0.2781,0.2120,0.1324,0.0860,0.1351
Bélgica,0.1681,0.2927,0.2109,0.1271,0.0771,0.1241
França,0.1897,0.3276,0.1859,0.1311,0.0738,0.0919
Argentina,0.1773,0.3274,0.1931,0.1346,0.0772,0.0904
Inglaterra,0.2865,0.2534,0.2053,0.1189,0.0638,0.0721
Espanha,0.2706,0.3300,0.1898,0.0987,0.0579,0.0530
Portugal,0.2097,0.3733,0.2055,0.1013,0.0583,0.0519
Holanda,0.1749,0.3821,0.2253,0.1064,0.0597,0.0516
Dinamarca,0.3099,0.3440,0.1629,0.0956,0.0453,0.0423
México,0.3349,0.3286,0.1632,0.0909,0.0421,0.0403
Alemanha,0.3562,0.3232,0.1610,0.0832,0.0389,0.0375
Uruguai,0.2794,0.3671,0.1841,0.0883,0.0451,0.0360
Croácia,0.4121,0.2931,0.1528,0.0778,0.0365,0.0277
Estados Unidos,0.4692,0.2374,0.1573,0.0736,0.0357,0.0268
Suíça,0.4371,0.2871,0.1505,0.0688,0.0337,0.0228
Senegal,0.3129,0.3815,0.1816,0.0766,0.0282,0.0192
País de Gales,0.6006,0.1994,0.1142,0.0501,0.0206,0.0151
Marrocos,0.5967,0.2360,0.1039,0.0397,0.0145,0.0092
Polônia,0.6020,0.2450,0.0871,0.0408,0.0165,0.0086
Japão,0.6146,0.2335,0.0865,0.0407,0.0162,0.0085
Irã,0.6437,0.1878,0.1033,0.0411,0.0156,0.0085
Sérvia,0.6129,0.2266,0.1038,0.0357,0.0127,0.0083
Coreia do Sul,0.5694,0.2777,0.0978,0.0343,0.0141,0.0067
Tunísia,0.7183,0.1886,0.0596,0.0233,0.0065,0.0037
Costa Rica,0.7586,0.1656,0.0509,0.0161,0.0062,0.0026
Austrália,0.7821,0.1529,0.0430,0.0162,0.0041,0.0017
Camarões,0.7936,0.1411,0.0466,0.0133,0.0037,0.0017
Equador,0.7146,0.2037,0.0612,0.0145,0.0048,0.0012
Canadá,0.8231,0.1259,0.0356,0.0111,0.0032,0.0011
Arábia Saudita,0.8858,0.0859,0.0214,0.0057,0.0010,0.0002
Catar,0.7976,0.1547,0.0356,0.0109,0.0010,0.0002
Gana,0.9415,0.0490,0.0083,0.0012,0.0000,0.0000

In [126]:
avanco = pd.DataFrame()
avanco['Avançar na 1ª Fase'] = sim['Oitavas']
avanco['Avançar nas Oitavas'] = sim['Quartas']/sim['Oitavas']
avanco['Avançar nas Quartas'] = sim['Semis']/sim['Quartas']
avanco['Avançar nas Semis'] = sim['Final']/sim['Semis']
avanco['Avançar na Final'] = sim['Campeão']/sim['Final']
avanco.to_excel('outputAvancoPorEtapa.xlsx')
avanco

,Avançar na 1ª Fase,Avançar nas Oitavas,Avançar nas Quartas,Avançar nas Semis,Avançar na Final
Seleção,,,,,
Brasil,0.8436,0.670341,0.625111,0.625460,0.611036
Bélgica,0.8319,0.648155,0.608865,0.612854,0.616799
França,0.8103,0.595705,0.614875,0.558288,0.554617
Argentina,0.8227,0.602042,0.610135,0.554600,0.539379
Inglaterra,0.7135,0.644849,0.553793,0.533359,0.530537
Espanha,0.7294,0.547573,0.524787,0.529103,0.477908
Portugal,0.7903,0.527648,0.507194,0.521040,0.470962
Holanda,0.8251,0.536905,0.491422,0.511254,0.463612
Dinamarca,0.6901,0.501522,0.529327,0.478166,0.482877
México,0.6651,0.505939,0.515007,0.475476,0.489078
Alemanha,0.6438,0.497981,0.497817,0.478697,0.490838
Uruguai,0.7206,0.490563,0.479208,0.478749,0.443896
Croácia,0.5879,0.501446,0.481682,0.452113,0.431464
Estados Unidos,0.5308,0.552751,0.463872,0.459221,0.428800
Suíça,0.5629,0.489963,0.454315,0.450918,0.403540
Senegal,0.6871,0.444768,0.405759,0.382258,0.405063
País de Gales,0.3994,0.500751,0.429000,0.416084,0.422969
Marrocos,0.4033,0.414828,0.378960,0.373817,0.388186
Polônia,0.3980,0.384422,0.430719,0.380880,0.342629
Japão,0.3854,0.394136,0.430546,0.377676,0.344130
Irã,0.3563,0.472916,0.386944,0.369632,0.352697
Sérvia,0.3871,0.414622,0.353271,0.370370,0.395238
Coreia do Sul,0.4306,0.355086,0.360366,0.377495,0.322115
Tunísia,0.2817,0.330493,0.359828,0.304478,0.362745
Costa Rica,0.2414,0.314002,0.328496,0.353414,0.295455
Austrália,0.2179,0.298302,0.338462,0.263636,0.293103
Camarões,0.2064,0.316376,0.286371,0.288770,0.314815
Equador,0.2854,0.286265,0.250918,0.292683,0.200000
Canadá,0.1769,0.288298,0.301961,0.279221,0.255814
Arábia Saudita,0.1142,0.247811,0.243816,0.173913,0.166667
Catar,0.2024,0.235672,0.253669,0.099174,0.166667
Gana,0.0585,0.162393,0.126316,0.000000,NaN